.container {
  max-width: 600px !important;
}

header {
  text-align: center;
}

footer{
  background-color: rgb(247, 247, 238);
  width: 100%;
  height: 38px;
}

.active {
  background-color: rgb(202, 199, 199) !important;
}
